*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --cor-fundo: #00030C;
    --botao-azul: #167BF7;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundário);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem; 
}

.container__div{
    margin: 0 6rem;
}

.secundario__imagem{
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 9%;
}

.descricao__titulo{
    font-size: 3rem;
    color: var(--branco-principal);
    font-weight: 700;
}

.descricao__texto{
    font-size: 1rem;
    color: var(--cinza-secundário);
    margin: 0.3rem 0 0 0;
}

.terciario{
    align-items: center;
    margin: 0 9%;
}

.combo__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-align: center;
}

.combo__texto{
    font-size: 1rem;
    color: var(--cinza-secundário);
    margin-bottom: 2rem;
}

.imagem__imagem{
    width: 90%;
}

.terciario__imagem{
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type:none ;
    color: var(--branco-principal);
}

.dispositivos{
    text-align: center;
    height: 70vh;
}

.dispositivos__titulo{
    font-size: 2rem;
    margin: 0 0 2.5rem 0;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 1.5rem;
}

.lista__imagens{
    height:70% ;
    margin: 0 0 0.5rem 0;
}

.rodape {
    text-align: center;
}

.rodape__logo{
    scale: .75;
    margin-bottom: 1.5rem;
}

.rodape__lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.rodape__link{
    text-decoration: none;
    font-size: .8rem;
    color: var(--branco-principal);
}

.rodape__item {
    margin: 0 .5rem;
}

.rodape__texto{
    font-size: .6rem;
    color: var(--cinza-secundário);
    margin: 1.5rem 11rem;
}